//todo flash animation
//todo turned off light

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    place-items: center;

    max-width: 500px;
    background: -webkit-linear-gradient(black, grey);
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ccccccff&noise=333333&density=48&opacity=14 );
}

span{
    font-size: 100px;
    line-height: 50px;
    color: red;
    shadow: 2px 2px 8px rgba(50,50,93,.25);

    //text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);

    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 8px rgba(50,50,93,.25);
    transition: transform 0.3s;
    position: relative;


    background-color: #565656;
    color: transparent;



    &:hover{
        //transform: rotate(20deg);

        //transform: translate(-50%,-50%) translate(40px,40px) perspective(2910px) rotateY(-30deg) rotateX(9deg) rotate(5deg);
    }

    //reflection/flare
    &:after{
        content: "•";
        position: absolute;
        //bottom: 25px;
        left: 10px;
        font-size: 50px;
        background: -webkit-linear-gradient(red, yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        opacity: 0.75;



        //animation:         NAME-YOUR-ANIMATION 5s infinite; //demanding alright

    }
}

@keyframes NAME-YOUR-ANIMATION {
    0%   { //opacity: 0;
           left: 15px;
    }
    100% { 

        left: 10px;}
}